.App-logo {
  display: inline-flex;
  padding: auto;
  height: 48px;
  border-radius: 8px;
  margin-right: 1em
}

.ant-carousel .slick-slider {

    height: 100%;

}

.ant-carousel {

    height: 100%;

}

.ant-carousel .slick-slide {
    text-align: center;

    background: #fff;
    overflow: hidden;
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: #001529;
}

.ant-carousel .slick-dots li {
    background-color: #001529;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
}

#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.headerUser {
    margin: 0px -12px 0;
  text-align: right;
  vertical-align: middle
}

.App-title {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 20px;
    margin: auto;
    color: rgba(255, 255, 255, 0.65)
}

.App-title:focus {
    text-decoration: none
}

.App-title:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1)
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.Footer {
  position: fixed;
  left: 0;
    background-color: #001529;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  clear: left;;
    padding-right: 24px;
}

.ant-layout-footer {
    background: #f0f2f5;
    padding: 24px 24px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.ant-layout-sider-zero-width-trigger {
    position: absolute;
    top: 9px;
}

/* Manage table activities*/
.editable-cell {
    position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
    cursor: pointer;
}

.editable-cell-icon {
    line-height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    display: none;
}

td:hover .editable-cell-icon {
    display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
    color: #108ee9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child {
    padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
    border-bottom: 1px solid #e9e9e9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
    border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
    background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
    margin-right: 24px;
}

.components-table-demo-nested .ant-table-expanded-row:hover > td {
    background: #fbfbfb;
}

.overview-card {
    width: 25%;
    min-width: 194px;
    border: solid;
    border-color: #f0f2f5;
    border-radius: 10px;
    marginTop: "48px";
}

.overview-card-title {
    background-color: #f0f2f5;
    borderTopRight-radius: 10px;
    borderTopLeft-radius: 10px;
}

.overview-card-p {
    padding: 10px;
    text-align: justify;
}

.homePage {
    width: 50%;
}

#homeAbout {
    text-align: start;
}

.spanArrows {
    width: 48px;
    margin: auto;
    padding: 4px;
}

.ant-list-item-extra {
    margin: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 900px) {
    .test {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .overview-card {
        display: flex;
        width: 100%;
        max-height: 248px;
    }

    .overview-card h3 {
        margin: 0;
    }

    .overview-card span {
        width: 50%;
    }

    .homePage {
        width: 100%;
    }

    .spanArrows {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari 3-8 */
        transform: rotate(90deg);
    }

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 460px) {
    .test {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .overview-card {
        -webkit-flex-direction: column;
        flex-direction: column;
        display: flex;
        width: 100%;
        max-height: fit-content;
    }

    .overview-card h3 {
        margin: 0;
    }

    .overview-card span {
        width: 100%;
    }

}